@charset "utf-8";
#content.brand {width: 100%;height: 210vh;margin:0 auto;background-image: url(".//img/brand_slide_01.jpg");background-repeat:no-repeat;background-size: 100%;overflow: hidden;position: relative;background-size: 100% !important;}
#content.brand h3 {font-size: 30px; font-weight: 100; width: 200px; height: 40px; margin:45px auto 30px; color:#fff;}

/* ############################### content + slide_nav ############################ */
#content.brand #slide_nav {width: 526px;height:23px;margin:0 auto;}
#content.brand #slide_nav li {display: inline; text-align: center; font-size: 16px;}
#content.brand #slide_nav li a {padding: 0 12px; color: #fff;}
#content.brand #slide_nav li span {color: #fff;}


/* ############################### content + title_logo ############################ */
#content.brand .title_logo {position: absolute; left:700px; top:340px;transition: all .3s ease-in-out .4s;}

/* 마우스를 올렸을때 로고가 특정 위치에 배치되면서 desc부분들이 나타나게 만들기 */

.title-logo{transform:translate(0,0);}
#content.brand:hover .title_logo{transform:translate(-530px, 150px);  }

#content.brand:hover .desc1 {transform: translate(3em, 2em);transition: all .3s ease-in-out;}
#content.brand:hover .desc1 .title {transform:scale(2,2);}
#content.brand:hover .desc1 .cont {transform:scale(1.2,1.2);opacity:1;}
#content.brand:hover .desc2 {transform: translate(3em, 12em);}
#content.brand:hover .desc2 .title {transform:scale(2,2);}
#content.brand:hover .desc2 .cont {transform:scale(1.2,1.2);opacity:1;}

/* ############################### content + desc1 ############################ */
#content.brand .desc1 {position: absolute; left:745px; top:590px; transition: all .3s ease-in-out .3s; font-size: 15px; }
#content.brand .desc1 .title, #content.brand .desc2 .title {font-size: 34px; padding:10px 0 20px;display: block; color: #efd8c3;text-align:center;}
#content.brand .desc1 .cont, #content.brand .desc2 .cont {font-size: 16px; display: block;color: #fff;opacity:0;}
#content.brand .desc2 {position: absolute; left: 750px; top:710px;transition: all .3s ease-in-out .3s;}
#content.brand #slide_nav > p.title_logo > a > img {width: 100%;}

@media all and (min-width:500px) and (max-width:767px) {
    /*########### responsive content group ###############*/
    #contentWrap {width:100%;height: auto;}
    #content.brand {width:100%;max-width: unset;height: 100vh;background-image: url(../img/brand_slide_01_m.jpg);background-size: 100% !important;}
    #content.brand .title_logo {left: 62%;top: 13em;margin-left: -180px;width: 11em;height: 5em;}
    #content.brand:hover .title_logo {transform: translate(-5em, 0em);}
    #content.brand .desc1 {left: 26%;top: 19em;font-size: 15px;margin-left: -3em;}
    #content.brand:hover .desc1 a{text-decoration: none;}
    #content.brand:hover .desc1 .title{transform:scale(1.1,1.1);}
    #content.brand:hover .desc1 .cont {transform: scale(1.1,1.1);}
    #content.brand .desc2 {left: 56%;top: 18em;margin-left: -12em;}
    #content.brand:hover .desc2 .title{font-size:20px;;}
    #content.brand h3 {width: 160px !important; height: 48px !important; text-align: center; line-height: 48px; color: #776; margin: 12% auto 0 !important;    font-size: 1.4em !important;}
    #content.brand #slide_nav {width: 100%;margin: 5px auto !important;}
}

@media all and (min-width:768px) and (max-width:1024px) {
    /*########### responsive content group ###############*/
    #content.brand #slide_nav {width: 70% !important;margin: 2% auto 0 !important;}
    #content.brand #slide_nav li {display: inline-block;text-align: center;font-size: 16px;}
    #contentWrap {width:100%;height: auto;}
    #content.brand {width:100%;max-width: unset;height: 100vh;background-size: 80%;}
    #content.brand .title_logo {left: 50%;top: 18%;transform: translateX(-50%);width: 16em;}
    #content.brand:hover .title_logo {transform: translate(-22em, 8em);}
    #content.brand .desc1 {left: 50%;top: 20em;font-size: 15px;transform: translateX(-50%);}
    #content.brand:hover .desc1 a{text-decoration: none;}
    #content.brand:hover .desc1 .title{transform:scale(1.1,1.1);}
    #content.brand:hover .desc1 .cont {transform: scale(1.1,1.1);}
    #content.brand .desc2 {left: 50%;top: 23em;transform: translateX(-50%);}
    #content.brand:hover .desc1 {transform: translate(-6em,4em);}
    #content.brand:hover .desc2 {transform: translate(-1em, 15em);}
    #content.brand h3 {width: 160px;height: 48px;text-align: center;line-height: 48px;color: #fff;margin: 6% auto 0;}
}

@media all and (min-width:1025px) and (max-width:1280px) {
    /*########### responsive content group ###############*/
    #contentWrap {width:100%;height: auto;}
    #content.brand {width:100%;max-width: unset;height: 140vh;}
    #content.brand .title_logo {	left: 50%; top: 320px; margin-left: -180px;}
    #content.brand:hover .title_logo {transform: translate(-18em, 3em);}
    #content.brand .desc1 {left: 50%; top: 33em; font-size: 15px; margin-left: -6em;}
    #content.brand:hover .desc1 a{text-decoration: none;}
    #content.brand:hover .desc1 .title{transform:scale(1.1,1.1);}
    #content.brand:hover .desc1 .cont {transform: scale(1.1,1.1);}
    #content.brand .desc2 {left: 50%; top: 35em; margin-left: -12em; }

}
@media all and (min-width:1281px) and (max-width:1480px) {
    /*########### responsive content group ###############*/
    #contentWrap {width: 100% !important;height: auto !important;}
    #content.brand {width:100%;max-width: unset;height: 187vh;}
    #content.brand .title_logo {	left: 50%; top: 320px; margin-left: -180px;}
    #content.brand:hover .title_logo {transform: translate(-18em, 3em) !important;}
    #content.brand .desc1 {left: 50%; top: 33em; font-size: 15px; margin-left: -6em;}
    #content.brand:hover .desc1 a{text-decoration: none;}
    #content.brand:hover .desc1 .title{transform:scale(1.1,1.1);}
    #content.brand:hover .desc1 .cont {transform: scale(1.1,1.1);}
    #content.brand .desc2 {left: 50%; top: 35em; margin-left: -12em; }
}
